Flask==2.2.5
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==3.0.5
Flask-JWT-Extended==4.6.0
python-dotenv==0.21.0
openai==2.5.0
SQLAlchemy==2.0.44
alembic==1.17.0
bcrypt==4.0.1
cryptography==46.0.3
requests==2.32.5
pydantic==2.12.3